# Database Neon Postgres (Serverless & Pooling)
DATABASE_URL="postgresql://neondb_owner:password@ep-example-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://neondb_owner:password@ep-example.c-4.ap-southeast-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"

# Meta Graph API (Instagram Professional Account)
IG_USER_ID=17841460872919895
IG_ACCESS_TOKEN=EAAbH...your_access_token...

# Cloudinary (Media Hosting & Storage Sementara)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Cloudflare Turnstile (Anti-Bot Captcha)
NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAAA...
TURNSTILE_SECRET_KEY=0x4AAAAAAA...

# Proteksi PIN Halaman /status (Default: 2112)
STATUS_PAGE_PIN=2112
